includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - app

    level: 8

    ignoreErrors:
        - '#PHPDoc tag @var#'

    reportUnmatchedIgnoredErrors: false

    excludePaths:
        - app/Console/Kernel.php (?)
        - app/Exceptions/Handler.php (?)
        - app/Http/Middleware/*